h1{
    color:brown;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50; /* 초록색 배경 */
  color: white; /* 글자색 흰색 */
  text-decoration: none; /* 밑줄 제거 */
  border-radius: 5px; /* 모서리 둥글게 */
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049; /* 마우스 올리면 살짝 어둡게 */
}
